<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User add</title>
    <style type="text/css">
        TABLE {
            border: 2px solid black;
        }

        TH {
            text-align: center;
            background: black;
            color: white;
        }

        TD {
            text-align: right;
            background: white;
            color: black;
        }

        TD, TH {
            padding: 5px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<a href="/"><-HOME</a>
<h1>Add user</h1>
<h3>Password must be at least 8 chars long.<br/>
The password must not contain a space character.</h3>
<form method="post" th:action="@{add}" th:object="${newUser}">
    Username: <input th:field="*{username}" type="text"/><br/>
    Password: <input th:field="*{password}" type="password"/><br/>
    Role: <select name="Role" size="1" th:field="*{role}" type="text"/>
        <option value="admin">admin</option>
        <option selected value="operator">operator</option>
    </select><br/>
    First Name: <input th:field="*{firstName}" type="text"/><br/>
    Last Name: <input th:field="*{lastName}" type="text"/><br/>
    Email: <input th:field="*{email}" type="text"/><br/>
    Phone: <input th:field="*{phone}" type="text"/><br/>
    <input type="submit" value="Create"/>
</form>
</body>
</html>