<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style type="text/css">
        TABLE {
            border: 0px solid black;
        }

        TD {
            text-align: left;
            background: white;
            color: black;
        }

        TD, TH {
            padding: 5px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>Home</h1>
<table>
    <tr>
        <td><a href="/computer/all"> Computers list</a></td>
        <td><a href="/computer/add"> Computer add</a></td>
    </tr>

    <tr>
        <td><a href="/monitor/all">Monitors list</a></td>
        <td><a href="/monitor/add">Monitor add</a></td>
    </tr>
    <tr>
        <td><a href="/printer/all">Printers list</a></td>
        <td><a href="/printer/add">Printer add</a></td>
    </tr>
    <tr>
        <td><a href="/ups/all">UPS list</a></td>
        <td><a href="/ups/add">UPS add</a></td>
    </tr>
    <tr>
        <td><a href="/user/all">Users list</a></td>
        <td><a href="/user/add">User add</a></td>
    </tr>

    <td><a href="/login?logout">Logout</a></td>


</table>
</body>
</html>